.gallery-bts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 3px solid black;
  }
  
  .gallery-bts img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  
  .gallery-bts img:hover {
    cursor: pointer;
    opacity: 1;
    filter: contrast(120%);
  }
  .gallery-ts {
    position: relative;
  }
  .gallery-ts img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    
  }
@media screen and (min-width: 768px) {
    .gallery-bts {
      height: 430px;
    }
    
    .gallery-bts img {
      width: 0px;
      flex-grow: 1;
    }
    
    .gallery-bts img:hover {
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
    }
    .gallery-ts {
      height: 430px;
    }
    
    .gallery-ts img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }