.slick-list {
    overflow: visible !important;
  }
  
  .slick-slide {
    padding: 40px;
    padding-left: 55px ;
    padding-right: 55px ;
    margin-bottom: 10px;
    margin-top: 10px;
    
  }
  
  .slick-track {
    margin-left: 0px;
    background-color: #232f3e;
  }
  
  .album-item {
    margin-right: 16px;
  }
  .album-item:first-child {
    margin-left: 16px;
  }
  .slide {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .slide img {
    max-width: 10%;
    height: auto;
    transition: transform 0.3s ease-out;
  }
  
  .slide:hover {
    transform: scale(1.1);
    z-index: 2;
    transition: transform 0.3s ease-out;
  }
  
  
  .slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slide-container img {
    max-width: 100%;
  }
  
  .figureclass {
    background-color: #fff;
    border-radius: 20px;
    border-radius: 10px;
  }
  
  .descripcion {
      width: 100%;
      box-sizing: border-box;
      display: none;
      overflow: visible !important;
      background-color: black;    
      text-align: left;
  
    }
    
  .descripcion p {
    color: #fff;
    margin-left: 5px;
  }
  .descripcion .descripcion-titulo {
    font-size: 20px
  }
  .figureclass {
      background-color: #000000;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  
  .slide:hover .descripcion {
    display: block;
  }
  
  .ver-mas {
    margin-top: 10px;
  }
  .album-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-prev,
  .carousel-next {
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    padding: 10px;
    padding-top:40px ;
    padding-bottom:40px ;
    z-index: 3;
  }
  
  .carousel-prev:hover,
  .carousel-next:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.5);
  }
  
  .carousel-prev {
    margin-left: 2rem;
  }
  
  .carousel-next {
    margin-right: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .slide-container {
      flex-direction: row;
    }
    .carousel-buttons {
        display: none;
    }
    .carousel-prev,
    .carousel-next {
        display: none;
    }
  }
  