#contenedor-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  margin-left: 150px;
  margin-right: 150px;
  border: 6px solid black;
  padding: 30px;
  margin-bottom: 10px;
}
.cartImg {
  width: 100%;
  height: 100%;
}
.precioCart {
  color: black;
  margin-top: 30px;
}
.tituloCart {
  color: black;
  font-size: 15px;
}
.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.Textfield {
  width: 400px;
}

.btnASendAction {
  background: rgb(108, 14, 14);
  background: radial-gradient(
    circle,
    rgba(108, 14, 14, 1) 77%,
    rgba(172, 34, 34, 1) 100%
  );
  color: white;
  height: 54px;
  width: 400px;
  border-radius: 8px;
  font-size: 18px;
  transition: background, color 0.5s;
  outline: #ff0000;
  border: none;
  margin: 10px;
}

.btnASendAction:hover {
  color: red;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(11, 4, 4) 77%, rgb(0, 0, 0) 100%);
}
