.contenedor-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
}
.gridCarousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}
.bgColorCarousel {
  background-color: #f8faf8;
  margin-bottom: 15px;
}
.text-carousel {
  font-size: 15px;
}

.CarouselImg {
  width: 192px;
  height: 192px;
  border: 2px solid black;
  margin-bottom: 5px;
}
.headerimagen {
  position: relative;
  text-align: center;
  margin-top: 75px;
  width: 100%;
}
.centered {
  font-family: Copperplate;
  font-size: 43px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.copperplate {
  font-family: Copperplate;
  font-size: 25px;
}
.headercontainer {
  margin: 0px;
  box-shadow: 15px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.sombraCarousel {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  border: 0.2px solid black;
}
