.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar.navbar-scrolled {
    background-color: #141414;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-left {
    display: flex;
  }
  
  .navbar-left a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-left img {
    width: 50px;
    margin-right: 1rem;
  }
  
  .navbar-center {
    display: flex;
    justify-content: center;
  }
  
.menu-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333333;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-links {
  display: none;

}
  
  .navbar-center a {
    margin: 0 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-center a:hover {
    color: #999;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    margin-right: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-right a:hover {
    color: #999;
  }
  
  .cart-widget {
    position: relative;
    margin-right: 1rem;
  }
  
  .cart-widget span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
  }
  .navbar-center a:hover {
    border-bottom: 2px solid white;
  }
  .log-in {
    padding: 10px;
    border-radius: 5px;
    background-color: #243145;
  }
  
  @media (max-width: 768px) {
    .navbar-left {
      order: 2;
    }
    
    .navbar-center {
      order: 1;
      margin-top: 1rem;
      padding-left: 1rem;
    }
    .navbar-center a {
      font-size: 0.95rem;
    }
    
    .navbar-right {
      order: 3;
      margin-left: auto;
      font-size: 7px;
    }
    
    .navbar-center a {
      display: block;
      margin: 1rem;
    }
    
    .navbar-left span {
      display: none;
    }
    
    .navbar-left img {
      width: 40px;
      margin-right: 0.5rem;
    }
    .menu-links.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #0d1217;
      border-bottom: solid black 1px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      z-index: 99;
    }
    
    .menu-links a {
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    
    .menu-links a:hover {
      background-color: #f8f8f8;
    }
    .log-in {
      padding: 5px;
      border-radius: 5px;
      background-color: #243145;
    }
    .cart-widget {
      width: 12px;
      margin-bottom: 0px;
    }
    .cart-widget span {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .menu-links {
      display: flex !important;
    }
    .menu-toggler {
      display: none;
    }
  }